/* GENERAL PAGE SETTINGS */

.section {

}

/* COVER PAGE */

.section1 {

}

#prjtitle {

}

#subtitle {

}

#coverpic {

}

#pinpoint {

}

#info {

}

/* TABLE OF CONTENTS */

.section2 {
  background-image: url();
}

.items {

}

.items img {

}

.items h3 {

}

.item1 {

}

.item2 {

}

.item3 {

}

.item4 {

}

/* MAP PAGE SETTINGS */

.menu{

}

.titleblock {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 3px;
}

h3 {

}

p {

}
